VBNYZW_0927/mozi/VBNYZW_mozi_dtd.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mozi
[
	<!ELEMENT mozi (film*)>
	<!ELEMENT film (rendezo+,szinesz+,iro+)>
	<!ELEMENT RENDEZO EMPTY>
	<!ELEMENT SZINESZ EMPTY>
	<!ELEMENT IRO EMPTY>
	<!ATTLIST film id ID #REQUIRED>
	<!ATTLIST film mufaj (horror | drama | krimi) "horror">

	<!ATTLIST rendezo id ID #REQUIRED>
	<!ATTLIST rendezo nev CDATA #REQUIRED>

	<!ATTLIST szinesz id ID #REQUIRED>
	<!ATTLIST szinesz nev CDATA #REQUIRED>

	<!ATTLIST iro id ID #REQUIRED>
]
>